In [3]:
import pandas as pd
import numpy as np
import datetime

df = pd.read_excel('DX_MKT_2020.xlsx', sheet_name='KEYWORD_DATA')
keywords = set(df['KEYWORD'])

df_list = []
for word in keywords:
    df_word = df[df['KEYWORD'] == word]
    df_list.append(df_word)

new_df_list = []
for i in range(len(df_list)):
    datetime_series = pd.to_datetime(df_list[i]['SEARCHDATE'])
    datetime_index = pd.DatetimeIndex(datetime_series.values)
    new_df = df_list[i].set_index(datetime_index)
    new_df.drop('SEARCHDATE', axis=1, inplace=True)
    new_df_daily = new_df.asfreq('D')
    new_df_daily = new_df_daily.fillna(method='ffill')
    new_df_list.append(new_df_daily)

# 주간단위로 변경
keyword_df = pd.concat(new_df_list)
keyword_df = keyword_df.groupby('KEYWORD').resample('W-Sun').mean()
keyword_df = keyword_df.reset_index()
keyword_df.columns = ['KEYWORD', 'WDATE', 'SEARCHCOUNT']
# 기준일자 일->월로 변경
w_series = pd.to_datetime(keyword_df['WDATE'])
w_series = w_series.apply(lambda x: x + datetime.timedelta(days=1))
keyword_df['WDATE'] = w_series

keyword_df.to_excel('dx_keyword.xlsx', index=False)

In [7]:
import pandas as pd
import numpy as np
import datetime

df = pd.read_excel('C://Users//kyujin//Desktop//PROCESS//MKT//DX//DX_MKT_2020.xlsx', sheet_name='SALE_DATA')
df = df[['WDATE', 'PARTCODE', 'SALE_QTY', 'SALE_AMT']]

df['WDATE'] = df['WDATE'].apply(lambda x: str(x).split(' ')[0])
df['WDATE']

0       2019-11-03
1       2019-11-05
2       2019-11-05
3       2019-11-06
4       2019-11-06
           ...
7279    2020-06-06
7280    2020-06-06
7281    2020-06-06
7282    2020-06-13
7283    2020-06-13
Name: WDATE, Length: 7284, dtype: object

In [8]:
datetime_series = pd.to_datetime(df['WDATE'])
datetime_series
datetime_index = pd.DatetimeIndex(df['WDATE'].values)
datetime_index

DatetimeIndex(['2019-11-03', '2019-11-05', '2019-11-05', '2019-11-06',
               '2019-11-06', '2019-11-06', '2019-11-07', '2019-11-07',
               '2019-11-07', '2019-11-08',
               ...
               '2020-06-01', '2020-06-06', '2020-06-06', '2020-06-06',
               '2020-06-06', '2020-06-06', '2020-06-06', '2020-06-06',
               '2020-06-13', '2020-06-13'],
              dtype='datetime64[ns]', length=7284, freq=None)

In [13]:
sale_df = df.set_index(datetime_index)

sale_df_w = sale_df.groupby('PARTCODE').resample('W-Sun').sum()
sale_df_w = sale_df_w.reset_index()

In [14]:
sale_df_w.columns = ['PARTCODE', 'START_DT', 'SALE_QTY', 'SALE_AMT']
sale_df_w

       PARTCODE   START_DT  SALE_QTY  SALE_AMT
0     DKBK31011 2019-12-01         3    438160
1     DKBK31011 2019-12-08        15   2170070
2     DKBK31011 2019-12-15        20   2869260
3     DKBK31011 2019-12-22        51   7166550
4     DKBK31011 2019-12-29        52   7353527
...         ...        ...       ...       ...
1449  DXSS37011 2020-05-03        19   3311500
1450  DXSS37011 2020-05-10       -24  -4296000
1451  DXSS37011 2020-05-17         1    152150
1452  DXSS37011 2020-05-24         2    348000
1453  DXSS37011 2020-05-31        -1   -179000

[1454 rows x 4 columns]

In [25]:
sale_df_w.loc[sale_df_w['SALE_QTY']<0, 'SALE_QTY'] = 0
sale_df_w.loc[sale_df_w['SALE_AMT']<0, 'SALE_AMT'] = 0
sale_df_w

In [31]:
w_series = pd.to_datetime(sale_df_w['START_DT'])
w_series = w_series.apply(lambda x: x + datetime.timedelta(days=1))
sale_df_w['WDATE'] = w_series

sale_df_w.to_excel('dx_sales2020.xlsx', index=False)

In [32]:
sale_df_w

       PARTCODE   START_DT  SALE_QTY  SALE_AMT      WDATE
0     DKBK31011 2019-12-01         3    438160 2019-12-02
1     DKBK31011 2019-12-08        15   2170070 2019-12-09
2     DKBK31011 2019-12-15        20   2869260 2019-12-16
3     DKBK31011 2019-12-22        51   7166550 2019-12-23
4     DKBK31011 2019-12-29        52   7353527 2019-12-30
...         ...        ...       ...       ...        ...
1449  DXSS37011 2020-05-03        19   3311500 2020-05-04
1450  DXSS37011 2020-05-10         0         0 2020-05-11
1451  DXSS37011 2020-05-17         1    152150 2020-05-18
1452  DXSS37011 2020-05-24         2    348000 2020-05-25
1453  DXSS37011 2020-05-31         0         0 2020-06-01

[1454 rows x 5 columns]

# Sales

In [5]:
import pandas as pd
file_path = 'C://Users/kyujin/Desktop/PROCESS/MKT/DX/DX마케팅_프로세스팀_5월 정성평가 추가 CONTENTS_LIST_DATA_200622_카라티수정.xlsx'
sheet_name = '인플루언서 별도 시트'
cols = ['중분류', '소분류', '품번']

df = pd.read_excel(file_path, sheet_name=sheet_name, header=2)
df = df.iloc[:, 4:31]
df.dropna(thresh=15, inplace=True)
df.drop(df.tail(1).index, inplace=True)
df = df[cols]
df = df.drop_duplicates(['중분류','소분류','품번'])
items = list(set(df['소분류']))

dict = {}
for i in items:
    partcode = list(df.loc[df['소분류']==i, '품번'])
    dict[i] = partcode
print(dict)

      index 중분류       소분류         품번
0      2558  BK   라이크에어백팩  DXBK31011
1      2559  BK   라이크에어백팩  DXBK31011
2      2560  BK   라이크에어백팩  DXBK31011
3      2561  BK   라이크에어백팩  DXBK31011
4      2562  BK   라이크에어백팩  DXBK31011
...     ...  ..       ...        ...
1521   4079  RS  디스커버리카라티  DWTS54031
1522   4080  RS  디스커버리카라티  DMTS53031
1523   4081  RS  디스커버리카라티  DWTS54031
1524   4082  RS  디스커버리카라티  DWTS54031
1525   4083  RS  디스커버리카라티  DMTS53031

[1526 rows x 4 columns]

In [22]:
file_path = 'C://Users/kyujin/Desktop/PROCESS/MKT/DX/DX마케팅_프로세스팀_5월 정성평가 추가 CONTENTS_LIST_DATA_200622_카라티수정.xlsx'
sheet_name = '인플루언서 별도 시트'
cols = ['중분류', '소분류', '품번', '플랫폼', '진행업체', '진행비용(\)','제품비용(\)',
        'ID/이름/채널명','업로드 날짜', '주차', '업로드 URL', '팔로워/구독자 수', '좋아요', '댓글', '공유,저장']

df_mkt = pd.read_excel(file_path, sheet_name=sheet_name, header=2)
df_mkt = df_mkt.iloc[:, 4:31]
df_mkt.dropna(thresh=15, inplace=True)
df_mkt.drop(df_mkt.tail(1).index, inplace=True)
df_mkt = df_mkt[cols]

In [33]:
df_mkt['총비용'] = df_mkt['진행비용(\)']+df_mkt['제품비용(\)']
df_mkt['댓글'] = df_mkt['댓글'].fillna(0)
df_mkt['좋아요'] = df_mkt['좋아요'].fillna(0)
df_mkt['공유,저장'] = df_mkt['공유,저장'].fillna(0)
df_mkt = df_mkt.replace({'댓글': '-'}, {'댓글': 0})

df_mkt['좋아요'] = pd.to_numeric(df_mkt['좋아요'])
df_mkt['댓글'] = pd.to_numeric(df_mkt['댓글'])
df_mkt['공유,저장'] = pd.to_numeric(df_mkt['공유,저장'])

In [36]:
df_mkt['인터랙션'] = df_mkt['좋아요'] + df_mkt['댓글']*5 + df_mkt['공유,저장']

0